* {
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 1%;
    max-width: 1600px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 1500px) {
    .container { width: 1140px; }
}

@media (max-width: 1024px) {
    .container { width: 97%; }
}