.cascade {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    box-shadow: 0 3px 0 #0D1025;
}

.cascade .cascadeElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cascade .cascadeElement .cascadeDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cascade .cascadeElement .cascadeDesc .cascadeNumber {
    font-size: 25px;
    color: #0B132A;
    font-weight: 700;
}

.cascade .cascadeElement .cascadeDesc .cascadeCaption {
    font-size: 20px;
    color: #4F5665;
}

.cascade .cascadeElement .cascadeSvg {
    display: flex;
    justify-content: center;
    margin-right: 35px;
}

@media (max-width: 1024px) {

    .cascade {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cascade .cascadeElement {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 20%;
    }

    .cascade .cascadeElement .cascadeDesc {
        justify-content: flex-start;
    }
}
