.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #D6D7D9;
}

.footer .footerText {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #949494;
}
