img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 560px;
}

p {
    width: 540px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
}

span {
    display: inline-block;
    width: 540px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}