.main {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main .mainLeftPart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main .mainLeftPart .mainContentCaption {
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

.main .mainLeftPart .mainContentText {
    font-style: normal;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #4F5665;
}

.main .mainLeftPart .mainButton {
    display: flex;
    justify-content: center;
}

.main .mainLeftPart .mainButton .mainOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    border-radius: 10px;
    outline: none;
    border: 2px solid #080808;
    box-shadow: 10px 20px 20px #08080840;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    transition-duration: .2s;
}

.main .mainLeftPart .mainOffer:hover {
    border: 2px solid #080808;
    background: #ffffff;
    color: #080808;
    transition-duration: .2s;
}

@media (max-width: 1024px) {

    .mainRightPart .mainPicture {
        display: none;
    }

    .main .mainLeftPart .mainContentCaption {
        margin-bottom: 20px;
    }

    .main .mainLeftPart .mainContentText {
        margin-bottom: 20px;
    }
}
