.App .cont .content .members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.App .cont .content .members .memberItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
}

.App .cont .content .members .memberItem .memberImg {
    margin: 15px;
    width: 270px;
    height: 270px;
    background: #ffffff;
}

.App .cont .content .members .memberItem .paragraph {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
