body{
    margin: 0 auto;
    width: 680px;
    height: 1440px;
}

svg{
    fill: black;
    display: inline;
}
p{
    display: inline;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.pis{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.text{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
}
div{
    width: 560px;
    vertical-align: middle;
    background-color: #ffe1e1;
    margin: 20px auto;
    border-radius: 15px;
}
.che{
    text-align: center;
    padding: 10px;
}
.photo{
    width: 560px;
    height: 204px;
    background-color: #ffe1e1;
}
img {
    width: 560px;
    height: 204px;
}