@widthPhoto: 560px;
@heightPhoto: 204px;
@lineHeightText: 22px;
@fontWeightText: 400;
@fontSizeBig: 24px;
@fontSizeMiddle: 16px;
@fontSizeSmall: 12px;
@darkColor: #0C1014;
@tonedColor: #515759;
@blueColor: #1890FF;

body {
    margin: 0 auto;
    width: 37.5%;

    svg {
        fill: black;
        display: inline;
    }

    p {
        display: inline;
        font-family: 'Inter', sans-serif;
    }

    img {
        width: @widthPhoto;
        height: @heightPhoto;
    }

    hr {
        width: @widthPhoto;
        color: #f5efef;
    }

    a, a:after {
        color: @blueColor;
        text-decoration: none;
    }

    button {
        position: relative;
        width: 64px;
        height: 24px;
        border: 1px solid #1890FF;
        border-radius: 4px;
        margin-left: 10px;
        background: #fff;
    }

    div {
        width: @widthPhoto;
        margin: 20px auto;
        border-radius: 15px;
    }
}

.che {
    text-align: center;
    padding: 10px;
}

.photo {
    width: @widthPhoto;
    height: @heightPhoto;
}

.first {
    height: 25px;
}

.second {
    margin-bottom: 60px;
}

.poster {
    font-weight: @fontWeightText;
    font-size: @fontSizeSmall;
    line-height: @lineHeightText;
    color: #949494;
}

.text {
    font-weight: @fontWeightText;
    font-size: @fontSizeMiddle;
    line-height: @lineHeightText;
    color: @tonedColor;
}

.title {
    font-weight: 600;
    font-size: @fontSizeBig;
    line-height: @lineHeightText;
    color: @darkColor;
}

.pis {
    font-weight: bold;
    font-size: @fontSizeBig;
    line-height: @lineHeightText;
    color: @darkColor;
}
