body {
    margin: 0 auto;
}
div {
    margin: 0 auto;
    max-width: 800px;
}
/*контейнер 2*/
.cont2 {
    margin: 100px auto;
    border-top: 5px solid #448aaa;
    border-bottom: 10px solid #448aaa;
}
.title21 {
    text-align: center;
    font-size: 36px;
}
.title22 {
    text-align: center;
    font-size: 24px;
}
li {
    list-style-type: none;
    cursor: pointer;
}
ul.list {
    padding-left: 15%;
}
ul.list li {
    display: inline;
}
li.element {
    padding: 2.7% 1% 1% 1%;
    margin: 2% -2px;
    box-sizing: border-box;
}
li.element:hover {

}
a {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #448aaa;
    font-size: 32px;
    border: 3px solid #fff;

}
a:hover {
    background-color: #448aaa;
    border: 3px solid #fff;
    color: #fff;
}
a:active {
    background-color: #fff;
    color: #448aaa;
    border: 3px solid #448aaa;
}